.toggle-button{
  position: absolute;
  top: 2.3rem;
  right: 3.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


@media (max-height:820px) {
  .main-info{
    height: 480px;
  }
  .imgs{
    height: 900px;
  }
  .imgs img{
    height: 900px;
  }
  .hero-bg{
    height: 900px;
  }
}

@media (max-width: 1800px) {
 
  .container{
    min-height: 170vh;
  }
  .recommended{
    margin-top: 50px;
  
  }
    .main-catalog-wrap { grid-template-columns: repeat(4, minmax(290px, max-content)); }
    .pc-catalog-wrap{grid-template-columns: repeat(3, minmax(290px, max-content));}
  }



@media (max-width: 1600px) {
    .main-catalog-wrap { grid-template-columns: repeat(3, minmax(290px, max-content)); }
    .login{display: none;}
    .right-menu {width: 28% !important; justify-content: space-around; margin-right: 70px;}
    .toggle-button{display: flex;}
    .product-page-container{
      display: grid;
      grid-template-columns:  1fr 0.5fr 0.5fr ;
      grid-template-rows: 20% 70% 30% 15% 10%;
      background-color:#615EF9 ;
      min-height: 100vh;
      width: 100vw;
      grid-template-areas: 
      "logo logo logo"
      "img img img"
      "about about about"
      "buy buy buy"
      "empty empty empty"
      ;
  }
  .product-page-img{
    margin-bottom: 30px;
   
  }

  .product-page-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .product-page-about h2{
    padding: 30px 40px;
    font-size: 40px;
    letter-spacing: 1.5px;
}

.product-page-about p{
  margin: 0 40px;
}
.product-page-about h4{
  margin-top: 30px;
  margin: 30px 40px 0px;
}

.product-page-btn{
  background-color: #615EF9;
  margin: 0;
  padding-bottom: 40px;
}
  
  }

@media (max-width: 1280px) {
    .main-catalog-wrap { grid-template-columns: repeat(2, minmax(290px, max-content)); }
    .pc-catalog-wrap{grid-template-columns: repeat(2, minmax(290px, max-content));}
    .right-menu{display: none;}
    .menu{width: 50vw;}
    .toggle-button{display: flex;}
    .navigation-auto{
      display: none;
    }

    .navigation-manual{
      display: none;
    }
    .shoping-cart{
      flex-direction: column;
      padding: 0 !important;
    }

    /* .cart-wide{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows:1fr;
      grid-template-areas:
        "header header"
        "line line"
        "product-details product-details"
        "product-details-card product-details-card"
        "discount discount"
        "discount-card discount-card"
        "price price"
        "price-card price-card"
        "total total"
        "total-card total-card"
        "continue-btn continue-btn"
      ;
    } */
   

  }  

@media (max-width:1080px) {
  .back-to-store{
   display: none;
}
.back-to-store-media{
  position: fixed;
  bottom: 30px;
  left: 10px;
  background-color:#2a2a3d;
  color: #e1e1fa;
  padding: 5px 10px;
  border-radius:5px;
  letter-spacing: 1px;
  font-size: 30px;
  text-decoration: none;
  display: flex;
}


}

@media (max-width: 900px) {
    .main-catalog-wrap { grid-template-columns: repeat(1, minmax(290px, max-content)); }
    .pc-catalog-wrap{grid-template-columns: repeat(1, minmax(290px, max-content));}
    .menu{display: none;}
    .toggle-button{display: flex;}
    .computer-container .game-card{width: 200px; }
    .wrap-img{
      display: none;
    }
    .hero-bg{
      background-color: #4158D0;
background-image: linear-gradient(43deg, #2e4097 0%, #710d99 46%, #e4a93b 100%);
      height: 110vh;
    }
    .sekcija-one{
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .main-logo {
      /* background-image: url(/src/Misc/WoW-logo.png); */
      height: 15vh;
      background-size: contain;
      background-repeat: no-repeat;
      /* width:52vw; */
      width:200px;
     
      align-self: center;
      margin-top: 30px;
      margin-right:0;
      z-index: 1;
    }

    /* .main-info{
      margin: 0;
    } */
    .main-info {
      width: 50vw;
      min-width: 300px;
      margin-left: 0;
      margin-top: 20px;
      position: relative;
      z-index: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 73vh;
     
    }

    .main-info h2{
      font-size: 20px;
    }
    .main-info p{
      font-size: 12px;
      margin-top: 20px;
    }

    .navigation-auto{
      display: none;
    }

    .navigation-manual{
      display: none;
    }


    .price-btn{
      margin-top: 20px;

    }
    .price-btn p{
      font-size: 26px;
      color:#f8cb62
    }
    .price-btn button{
      padding: 10px 20px;
      font-size: 22px;
    }






    
.manage-inputs{
  border: 2px solid #5c5c72;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
}

.manage-inputs .submit-btn{
  height: 40px;
  margin: 20px 0;
  border: none;
  background-color: #09BA7A;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  
}

.manage-inputs .edit-btn{
  background-color: #c59908;
  height: 40px;
  margin: 20px 0;
  color: white;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;

 
}

.manage-article{
  margin-bottom: 20px;
}


.manage-inputs div{
  margin: 20px 0;
  display: flex;
}
.manage-inputs input{
  height: 30px;
  border: none;
  max-width: 150px;
  font-size: 12px;
  padding-left: 5px;
}

.manage-inputs div p {
  margin-left: 20px;
}


.product-page-container{
  grid-template-rows: 20% 70% 40% 15% 10%;
}





.cart-ul li:not(:last-child){
  display: none;
}

.cart-ul{
  justify-content: right;
}
.cart-discount{
  display: none;
}

.cart-sale{
  display: none;
}

.cart-wide{
  padding: 60px 10px;
}
.summary{
  padding: 60px 10px;
}
 
  }  
  
@media (max-width:624px) {
  .container{
    padding: 0;
  }
  .container h2{
    text-align: center;
    font-size: 26px;
  }
  .card-img{
   height: 350px;
  }
  .product-page-container{
    grid-template-rows: 20% 40% 50% 15% 10%;
  }
  
  .logo h1{
    display: none;
  }
  .logo{
    height: 150px;
  }
  .product-page-img{
    background-size: contain;
    margin-bottom: 0;
    
  }
  
  .product-page-about h2{
    
    font-size: 30px;
   
}

.product-page-about p{
 font-size: 16px;
 text-align:left;
}
.product-page-about h4{
  font-size: 16px;
}

.product-page-btn{
  background-color: #615EF9;
  margin: 0;
  padding-bottom: 40px;
}
} 

@media (max-width:440px){
  .product-page-container{
    grid-template-rows: 20% 40% 60% 15% 10%;
  }
  .cart-img{
    height: 800px;
    background-repeat: no-repeat;
  }
  .cart-card{
    flex-direction: column;
    height: 550px;
  }
  .cart-about{
    margin-top: 15px;
  }
}

/* @media (max-width:380px){
  .product-page-container{
    grid-template-rows: 20% 40% 60% 15% 10%;
  }
} */




  @media (min-width: 1600px){
    .hamburger-menu{
      display: none;
    }
  }

  @media (min-width: 1281px){
    
    .hamburger-menu .search{
      display: none;
    }
    .hamburger-right-menu{
      padding-top: 20px;
    }
    .hamburger-right-menu .cart-icon{
      display: none;
    }
  }

  @media (min-width: 900px){
.hamburger-menu-menu{
  display: none;
}

  }

  @media (min-width:600px) {
    .res-logo{
      display: none;
    }
  }




