.manage{
    background-color: #e1e1fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.manage-inputs .add-edit{
    font-size: 22px;
}

.manage h2{
    margin: 50px 0;
    color:#2a2a3d;
    letter-spacing: 1px;
    font-size: 30px;
}



.manage-inputs{
    border: 2px solid #5c5c72;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

.manage-inputs .submit-btn{
    height: 40px;
    margin: 20px 0;
    border: none;
    background-color: #09BA7A;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    width: 100%;
}

.manage-inputs .edit-btn{
    background-color: #c59908;
    height: 40px;
    margin: 20px 0;
    color: white;
    border: none;
    font-size: 24px;
    letter-spacing: 1px;
    width: 100%;
   
}

.edit-btn:hover{
    cursor: pointer;
}
.submit-btn:hover{
    cursor: pointer;
}

.error{
    color: rgb(189, 22, 22);
}

.manage-inputs div{
    margin: 20px 0;
    display: flex;
}
.manage-inputs input{
    height: 30px;
    border: none;
    width: 300px;
    font-size: 16px;
    padding-left: 5px;
}

.manage-inputs div p {
    margin-left: 20px;
}

.manage-article{
    margin-top: 50px ;
   
}

.manage-game-border{
    width: 250px;
    margin-bottom: 30px;
}

.manage-products{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.manage-btn{
    margin: 10px 5px;
    width: 60px;
    height: 30px;
    border: none;
    letter-spacing: 0.7px;
}

.manage-btn:hover{
    cursor: pointer;
}

.delete{
    background-color: rgb(206, 50, 50);
    color: white;
}

.back-to-store{
    position: fixed;
    top: 50px;
    left: 50px;
    background-color:#2a2a3d;
    color: #e1e1fa;
    padding: 15px;
    border-radius:5px;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
}

.back-to-store-media{
    display: none;
}

.back-to-store:hover{
    cursor: pointer;
}